*{
    margin:0;
    padding:0;
    background: #373F51;
}
.header{
    background-color: #1B1B1E;
    top: 0px;
    padding-top: 50px;
    text-align: center;
    font-family: ubuntu;
    font-size: 3rem;
    padding-bottom: 40px;
    color: #58A4B0;
    position: sticky;
}
h1{
    font-family: ubuntu;
    text-decoration: underline;
    text-align: center;
    background: #351e98;
    padding: 30px;
    top:0px;
    font-weight: b;
    width: 100%;   
}
#main{
    display: flex;
}

#f1{
    padding: 40px;
    margin: auto;
    margin-top: 40px;
    width: 600px;
    height: 60vh;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
    font-family: ubuntu;
    display: flex;   
}

#uname ,#uemail,#uage,#uphone,#uopt,#upass,#ucity,#uadd{
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    margin:auto;
    border: solid 3px;
}
#submit,#reset{
    border-radius: 10px;
    padding: 5px;
    color: whitesmoke;
    background-color: black;
    font-family: ubuntu;
}
#checkbox{
    margin-top: 10px;
}
#customer{
    font-size:10px ;
    padding-right: 40px;
    padding-bottom: 15px;
    font-weight: bold;
    display: flex;
}